<h1>Schools#show</h1>
<%= link_to("Add student", new_student_path(@school)) %>

  <% @school.students.each do |student| %>
  <ul>
      <li><%= student.name %>

      -
        <%= link_to("show", student_path) %>
        <%= link_to("edit", edit_student_path(@school, student)) %>
        <%= link_to("delete", student_path(@school, student), method: :delete, data: {confirm: "Delete?"}) %>
      </li>
    </ul>
  <% end %>
</ul>
